@import './_vars.pcss';

@import './_reset.pcss';
@import './_transitions.pcss';
@import './_globals.pcss';
@import './_typography.pcss';

.content {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 var(--gap);
  margin: 0 auto;
}